// font family variables start

$primary-font: Poppins, sans-serif;

$secondary-font:  Nunito , sans-serif;


// font family variables end


// text color variables start
 $primary-color:#450b78;
 $pera-color: #707b8e;
 $secondary-color: #2b044d;
 $hover-color: #835ef8;
 $regular-color: #ffffff;






// text color variables end

